*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body,html{
    width: 100%;
    height: 100%;
}

.parent{
    width: 1000px;
    height: 1000px;
    background-color: blue;
    display: grid;
    
}

.child{
    height: 300px;
    background-color: red;
    border: 2px solid black;
}